CREATE VIEW VIEW_DEF_Products AS
SELECT 
	SourceFieldName AS Product_Code,
	ISNULL(SourceFieldName, -1) AS Master_Product_Code,
	ISNULL(SourceFieldName, -1) AS Parent_Product_Code,
	ISNULL(SourceFieldName, -1) AS Replacement_Product_Code,
	ISNULL(SourceFieldName, -1) AS Bundle_Product_Code,
	ISNULL(SourceFieldName, -1) AS Alt_Product_Code,
	ISNULL(SourceFieldName, -1) AS Company_FKEY,
	ISNULL(SourceFieldName, 'N/A') AS Product_Name_EL,
	ISNULL(SourceFieldName, 'N/A') AS Product_Name_EN,
	ISNULL(SourceFieldName, 'N/A') AS Barcode,
	ISNULL(SourceFieldName, 'N/A') AS EAN,
	ISNULL(SourceFieldName, 'N/A') AS Product_Type,
	ISNULL(SourceFieldName, 'N/A') AS Product_Status,
	ISNULL(SourceFieldName, -1) AS Product_Category_Code,
	ISNULL(SourceFieldName, 'N/A') AS Product_Category_Description,
	ISNULL(SourceFieldName, -1) AS Product_SubCategory_Code,
	ISNULL(SourceFieldName, 'N/A') AS Product_SubCategory_Description,
	ISNULL(SourceFieldName, -1) AS Product_Group_Code,
	ISNULL(SourceFieldName, 'N/A') AS Product_Group_Description,
	ISNULL(SourceFieldName, -1) AS Product_Hierarchy_Level_1_Code,
	ISNULL(SourceFieldName, 'N/A') AS Product_Hierarchy_Level_1_Name,
	ISNULL(SourceFieldName, -1) AS Product_Hierarchy_Level_2_Code,
	ISNULL(SourceFieldName, 'N/A') AS Product_Hierarchy_Level_2_Name,
	ISNULL(SourceFieldName, -1) AS Product_Hierarchy_Level_3_Code,
	ISNULL(SourceFieldName, 'N/A') AS Product_Hierarchy_Level_3_Name,
	ISNULL(SourceFieldName, -1) AS Product_Hierarchy2_Level_1_Code,
	ISNULL(SourceFieldName, 'N/A') AS Product_Hierarchy2_Level_1_Name,
	ISNULL(SourceFieldName, -1) AS Product_Hierarchy2_Level_2_Code,
	ISNULL(SourceFieldName, 'N/A') AS Product_Hierarchy2_Level_2_Name,
	ISNULL(SourceFieldName, -1) AS Product_Hierarchy2_Level_3_Code,
	ISNULL(SourceFieldName, 'N/A') AS Product_Hierarchy2_Level_3_Name,
	ISNULL(SourceFieldName, -1) AS Product_Hierarchy2_Level_4_Code,
	ISNULL(SourceFieldName, 'N/A') AS Product_Hierarchy2_Level_4_Name,
	ISNULL(SourceFieldName, -1) AS Product_Hierarchy2_Level_5_Code,
	ISNULL(SourceFieldName, 'N/A') AS Product_Hierarchy2_Level_5_Name,
	ISNULL(SourceFieldName, 'N/A') AS Basic_Supplier,
	ISNULL(SourceFieldName, 'N/A') AS Supplier_Product_Code,
	ISNULL(SourceFieldName, 'N/A') AS Supplier_Description,
	ISNULL(SourceFieldName, 'N/A') AS Manufacture_Country,
	ISNULL(SourceFieldName, 'N/A') AS Origin_Country,
	ISNULL(SourceFieldName, 'N/A') AS Manufacturer,
	ISNULL(SourceFieldName, 'N/A') AS Product_Brand,
	ISNULL(SourceFieldName, 'N/A') AS Product_Model,
	ISNULL(SourceFieldName, 'N/A') AS Stock_Method,
	ISNULL(SourceFieldName, 'N/A') AS Cost_Method,
	ISNULL(SourceFieldName, 'N/A') AS TaxClass,
	ISNULL(SourceFieldName, 'N/A') AS Product_Life_Cycle_State,
	ISNULL(SourceFieldName, 'N/A') AS Measurement_Metric,
	ISNULL(SourceFieldName, 0) AS Volume,
	ISNULL(SourceFieldName, 0) AS Net_Weight,
	ISNULL(SourceFieldName, 0) AS Gross_Weight,
	ISNULL(SourceFieldName, 0) AS Current_Stock_Quantity,
	ISNULL(SourceFieldName, 0) AS Current_Discount,
	ISNULL(SourceFieldName, 0) AS Current_Cost,
	ISNULL(SourceFieldName, 0) AS Current_Ticket_Price,
	ISNULL(SourceFieldName, 0) AS Current_Retail_Price,
	ISNULL(SourceFieldName, 0) AS Current_Purchase_Price,
	ISNULL(SourceFieldName, 0) AS Spare_Flag1,
	ISNULL(SourceFieldName, 'N/A') AS Spare_Flag1_Name,
	ISNULL(SourceFieldName, 0) AS Spare_Flag2,
	ISNULL(SourceFieldName, 'N/A') AS Spare_Flag2_Name,
	ISNULL(SourceFieldName, 0) AS Spare_Flag3,
	ISNULL(SourceFieldName, 'N/A') AS Spare_Flag3_Name,
	ISNULL(SourceFieldName, 'N/A') AS Classified_Value_1,
	ISNULL(SourceFieldName, 'N/A') AS Classified_Description_1,
	ISNULL(SourceFieldName, 'N/A') AS Classified_Value_2,
	ISNULL(SourceFieldName, 'N/A') AS Classified_Description_2,
	ISNULL(SourceFieldName, 'N/A') AS Classified_Value_3,
	ISNULL(SourceFieldName, 'N/A') AS Classified_Description_3,
	ISNULL(SourceFieldName, 'N/A') AS Classified_Value_4,
	ISNULL(SourceFieldName, 'N/A') AS Classified_Description_4,
	ISNULL(SourceFieldName, 'N/A') AS Classified_Value_5,
	ISNULL(SourceFieldName, 'N/A') AS Classified_Description_5
FROM
	tb_Dummy_DEF WITH (NOLOCK)

