USE Targit_Model
GO

CREATE TABLE tb_TRGMDL_Dates_Holidays
(
	PKEY int NOT NULL,
	PK_Date datetime NOT NULL,
	Holiday_Name varchar(100) NOT NULL,
	Holiday_Name_2 varchar(100) NOT NULL,
	Holiday_Group varchar(100) NOT NULL,
	Holiday_Group_2 varchar(100) NOT NULL,
	Holiday_Flag_RetailHQ tinyint NOT NULL,
	Holiday_Flag_RetailStores tinyint NOT NULL,
	Holiday_Flag_ShippingHQ tinyint NOT NULL,
	Holiday_Flag_ShippingShips tinyint NOT NULL,
 CONSTRAINT [PK_tb_TRGMDL_Dates_Holidays] PRIMARY KEY CLUSTERED 
(
	[PKEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

TRUNCATE TABLE tb_TRGMDL_Dates_Holidays 

INSERT tb_TRGMDL_Dates_Holidays (PKEY, PK_Date, Holiday_Name, Holiday_Name_2, Holiday_Group, Holiday_Group_2, Holiday_Flag_RetailHQ, Holiday_Flag_RetailStores, Holiday_Flag_ShippingHQ, Holiday_Flag_ShippingShips) VALUES (20140101, CAST(N'2014-01-01 00:00:00.000' AS DateTime), N'Πρωτοχρονιά', N'N/A', N'Πρωτοχρονιά', N'N/A', 1, 1, 1, 0)
INSERT tb_TRGMDL_Dates_Holidays (PKEY, PK_Date, Holiday_Name, Holiday_Name_2, Holiday_Group, Holiday_Group_2, Holiday_Flag_RetailHQ, Holiday_Flag_RetailStores, Holiday_Flag_ShippingHQ, Holiday_Flag_ShippingShips) VALUES (20140102, CAST(N'2014-01-02 00:00:00.000' AS DateTime), N'2η Ημέρα Χρόνου', N'N/A', N'Πρωτοχρονιά', N'N/A', 0, 1, 0, 0)
INSERT tb_TRGMDL_Dates_Holidays (PKEY, PK_Date, Holiday_Name, Holiday_Name_2, Holiday_Group, Holiday_Group_2, Holiday_Flag_RetailHQ, Holiday_Flag_RetailStores, Holiday_Flag_ShippingHQ, Holiday_Flag_ShippingShips) VALUES (20140106, CAST(N'2014-01-06 00:00:00.000' AS DateTime), N'Θεοφάνεια', N'N/A', N'Πρωτοχρονιά', N'N/A', 1, 1, 1, 0)
